.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    padding: 0 1rem;

    & input.new-category {
        width: auto;
        min-width: 2rem;
        max-width: 8rem;

        background-color: #A6A694;
        color: white;

        border: none;
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);

        &:focus{
            background-color: #6f6f63;
        }
    }

    & .category {
        width: auto;
        max-width: 8rem;

        background-color: #A6A694;
        color: white;

        overflow: hidden;
        text-overflow: ellipsis;

        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: #6f6f63;
        }

        &.selected{
            background-color: #005B4B;
        }
    }
}