.task-item {
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease-in-out;


  & .task-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;

    & .task-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .task-title {
        margin: 0;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        border-bottom: 1px solid #888 ;
      }

      & .task-desc {
        color: #333;
      }

      & .editing{
        color: #666;
        font-style: italic;
      }
    }

    & .task-button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      gap: 0.4em;


    }

    & button {

      &.edit-btn {
        
        &.editing{
          background-color: #bef95b;
          color: white;

          &:hover {
            background-color: #83ca07;
          }
        }
      }

      &.delete-btn {
        box-sizing: border-box;
        background-color: #ff0d3e;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: #c70a30;
        }
      }
    }
  }
}